#signOut {
    margin-left: 80vw;
    margin-top: -2vh;
    width: 20vw;
    height: 6vh;
    border-radius: 8px;
    cursor: pointer;
}

#coinDisplay {
    text-align: center;
    font-size: 150%;
    margin-top: 2%;
    margin-bottom: 5%;
}

#games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.game {
    background-color: lightskyblue;
    width: 48vmin;
    text-align: center;
    cursor: pointer;
}

.title {
    margin-top: 1.5%;
    margin-bottom: 1%;
    font-size: 130%;
}

.picture {
    width: 30vmin;
}

.description {
    margin: 3%;
}