#signOut {
    margin-left: 80vw;
    margin-top: -2vh;
    width: 20vw;
    height: 6vh;
    border-radius: 8px;
    cursor: pointer;
}

#games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.game {
    background-color: lightskyblue;
    width: 45vw;
    height: 45vh;
    text-align: center;
    cursor: pointer;
}

.title {
    margin: 3%;
    font-size: 130%;
}

.picture {
    width: 75%;
}

.description {
    margin: 3%;
}