html {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: manipulation;
}
  
body {
    height: 100vh;
    width: 100vw;
    background-color: lightskyblue;
}

#signOut {
    margin-left: -3vw;
    margin-top: -1vh;
    margin-bottom: 0vh;
    width: 20vw;
    height: 6vh;
    border-radius: 8px;
    cursor: pointer;
}

#menu {
    margin-left: 82vw;
    margin-top: -6vh;
    width: 20vw;
    height: 6vh;
    border-radius: 8px;
    cursor: pointer;
}




.background {
  height: 100vh;
  width: 100vw;
  background-color: lightskyblue;
}

.bird {
  height: 10vmin;
  width: 16vmin;
  position: fixed;
  top: 40vh;
  left: 30vw;
  z-index: 100;
}

.pipe_sprite {
  position: fixed;
  top: 40vh;
  left: 100vw;
  height: 70vh;
  width: 6vw;
  background-color: green;
}

.message {
  position: fixed;
  z-index: 10;
  height: 10vh;
  font-size: 8vmin;
  font-weight: 100;
  color: black;
  top: 12vh;
  left: 15vw;
  text-align: center;
}

.score {
  position: fixed;
  z-index: 10;
  height: 10vh;
  font-size: 10vh;
  font-weight: 100;
  color: goldenrod;
  top: 5vh;
  left: 3vw;
}

.score_val {
  color: gold;
}

#gameOver {
  display: none;
  text-align: center;
  margin-top: 17vh;
  font-size: 10vmin;
}

#scoreText {
  text-align: center;
  font-size: 80%;
  margin-top: 2vh;
}

#playAgain {
  margin-top: 4vh;
  width: 25vw;
  height: 10vh;
  border-radius: 4vmin;
  cursor: pointer;
}

#coinText {
  margin-top: 4vh;
  font-size: 75%;
}